doctype html(lang='en')
head
  title Minnesota Twitter Stream
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='')
  link(rel="shortcut icon" href="/images/favicon.png")
  meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic')
  link(rel='stylesheet', href='/css/angular-material-modified.css')
  link(rel='stylesheet', href='/css/style.css')
  script(src='//maps.googleapis.com/maps/api/js?sensor=false', type='text/javascript')
  script(src='/bower_modules/angular/angular.js', type='text/javascript')
  script(src='/bower_modules/angular-route/angular-route.js', type='text/javascript')
  script(src='/bower_modules/angular-google-maps/dist/angular-google-maps.js', type='text/javascript')
  script(src='/bower_modules/angular-animate/angular-animate.js', type='text/javascript')
  script(src='/bower_modules/angular-aria/angular-aria.min.js', type='text/javascript')
  script(src='/bower_modules/angular-material/angular-material.js', type='text/javascript')
  script(src="/bower_modules/lodash/dist/lodash.js", type='text/javascript')
  script(src='/bower_modules/socket-io/socket.io.js', type='text/javascript')
  script(src='/js/app/app-config.js', type='text/javascript')
  script(src='/js/app/controllers/main-ctrl.js', type='text/javascript')

  body(ng-app='mnTweets', layout='column' ng-view)