.angular-google-map-container {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

#sidebar-tweet-container {
    background-color: rgba(30,48,61,0.9);
    max-height: 100%;
    height: -moz-calc(100%);
    height: -webkit-calc(100%);
    height: calc(100%);
    overflow-y: auto;
    padding-top: 90px;
}

#sidebar-overview-container {
    position: absolute;
    right: 0px;
}

.sidebar-tweet-summary {
    padding: 0 10px;
}