<md-toolbar layout="row">
    <md-button class="menu" hide-gt-md ng-click="showHideSidebar()" aria-label="Show Tweet List">
        <md-icon md-svg-icon="menu" ></md-icon>
    </md-button>
    <h1>{{count}} {{title}}</h1>
</md-toolbar>

<div flex layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-z2" md-component-id="left" id="sidebar">
        <h1 ng-show="!tweets.length">Nobody has tweeted yet!</h1>
            <md-list ng-mouseenter="isTweetHovered = true" ng-mouseleave="isTweetHovered = false">
                <md-item ng-repeat="twit in tweets" class="md-padding">
                    <md-whiteframe class="md-whiteframe-z1 tweet-wrapper" layout>
                        <md-item-content>
                            <div class="md-tile-left">
                                <a target="_blank" href="{{twit.userProfile.url}}">
                                    <img class="sidebar-profile-pic" height="50px" width="50px" ng-src="{{twit.userProfile.picture}}">
                                </a>
                            </div>
                            <div class="md-tile-content sidebar-tweet-details">
                                <div layout="row" layout-align="start center">
                                    <div>
                                        <h3 class="tweet-name">{{twit.userProfile.name}}&nbsp;</h3>
                                    </div>
                                    <div>
                                        <h3 class="tweet-screen-name">&#64;{{twit.userProfile.screen_name}}</h3>
                                    </div>
                                </div>
                                <div layout="row" layout-align="start start">
                                    <p class="tweet-text">
                                        {{twit.tweetText}}
                                    </p>
                                </div>
                                <div layout="row" layout-align="space-around center">
                                    <div>
                                        <md-button class="tweet-icons" aria-label="Reply">
                                            <md-icon class="icon-reply" md-svg-src="twitter-reply" style="width: 18px; height: 14px;"></md-icon>
                                            <md-tooltip md-autohide="true" md-direction="left">Reply</md-tooltip>
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button class="tweet-icons" aria-label="Retweet">
                                            <md-icon class="icon-retweet" md-svg-src="twitter-retweet" style="width: 20px; height: 22px;"></md-icon>
                                            <md-tooltip md-autohide="true" md-direction="left">Retweet</md-tooltip>
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button class="tweet-icons" aria-label="Favorite">
                                            <md-icon class="icon-favorite" md-svg-src="twitter-favorite"" style="width: 18px; height: 22px;"></md-icon>
                                            <md-tooltip md-autohide="true" md-direction="left">Favorite</md-tooltip>
                                        </md-button>
                                    </div>
                                    <div>
                                        <md-button class="tweet-icons" aria-label="Details">
                                            <md-icon class="icon-details" md-svg-src="twitter-details" style="width: 25px; height: 25px;"></md-icon>
                                            <md-tooltip md-autohide="true" md-direction="left">Details</md-tooltip>
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </md-item-content>
                    </md-whiteframe>
                </md-item>
            </md-list>
    </md-sidenav>

    <md-content flex id="content">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" xmlns="http://www.w3.org/1999/html">
            <ui-gmap-markers models="tweetMarks" coords="'self'" icon="'icon'" options="iconOptions" click="'showTweetDetails'">
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </md-content>
</div>