<md-toolbar layout="row">
    <md-button class="menu" hide-gt-md ng-click="showHideSidebar()" aria-label="Show Tweet List">
        <md-icon md-svg-icon="menu" ></md-icon>
    </md-button>
    <h1>{{count}} {{title}}</h1>
    <a href='/auth/twitter'> login twitter. </a>
</md-toolbar>

<div flex layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-z2" md-component-id="left" id="sidebar">
        <h1 ng-show="!tweets.length">Nobody has tweeted yet!</h1>
            <md-list>
                <md-item ng-repeat="twit in tweets" class="md-padding">
                    <md-whiteframe class="md-whiteframe-z1 tweet-wrapper" layout>
                        <md-item-content class="sidebar-tweet-summary">
                            <div class="md-tile-left">
                                <a target="_blank" href="{{twit.userProfile.url}}">
                                    <img class="sidebar-profile-pic" height="50px" width="50px" ng-src="{{twit.userProfile.picture}}">
                                </a>
                            </div>
                            <div class="md-tile-content sidebar-tweet-details">
                                <div layout="row" layout-align="start center">
                                    <div>
                                        <h3 class="tweet-name">{{twit.userProfile.name}}&nbsp;</h3>
                                    </div>
                                    <div>
                                        <h3 class="tweet-screen-name">&#64;{{twit.userProfile.screen_name}}</h3>
                                    </div>
                                </div>
                                <div layout="row" layout-align="start start">
                                    <p class="tweet-text">
                                        {{twit.tweetText}}
                                    </p>
                                </div>
                                <div layout="row" layout-align="space-around center" style="margin-top: 5px;">
                                    <div>
                                        <a>
                                            <img class="tweet-buttons" height="12px" width="18px" src="/images/reply.png" alt="Reply To Tweet">
                                        </a>
                                    </div>
                                    <div>
                                        <a>
                                            <img class="tweet-buttons" height="12px" width="18px" src="/images/retweet.png" alt="Retweet Tweet">
                                        </a>
                                    </div>
                                    <div>
                                        <a>
                                            <img class="tweet-buttons" height="15px" width="18px" src="/images/star.png" alt="Favorite Tweet">
                                        </a>
                                    </div>
                                    <div>
                                        <a>
                                            <img class="tweet-buttons" height="5px" width="18px" src="/images/details.png" alt="More Details">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </md-item-content>
                    </md-whiteframe>
                </md-item>
            </md-list>
    </md-sidenav>

    <md-content flex id="content">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" xmlns="http://www.w3.org/1999/html">
            <ui-gmap-markers models="tweetMarks" coords="'self'" icon="'icon'" options="iconOptions" click="'showTweetDetails'">
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </md-content>
</div>