<div flex layout="row">
  <md-sidenav flex md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2">
    <md-list id="tweet-list">
      <md-subheader id="tweet-list-subheader" layout="row" layout-align="center center">
        <span>
          <ng-pluralize
            count="tweets.length"
            when="{'0': 'Nobody has tweeted yet',
           'one': 'Viewing 1 tweet from Minnesota',
           'other': 'Viewing {} tweets from Minnesota'}">
          </ng-pluralize>
        </span>
      </md-subheader>
      <md-list-item class="md-2-line" ng-repeat="tweet in tweets | reverse" ng-click="null">
        <div class="tweet-container" flex layout="row" layout-align="space-between center">
          <div class="tweet-img">
            <img alt="{{tweet.user.name}}" ng-src="{{tweet.user.picUrl}}">
          </div>
          <div class="md-list-item-text tweet-content" layout="column">
            <span class="tweet-user-name">{{tweet.user.name}}
              <span class="user-screen-name">&#64;{{tweet.user.screen_name}}</span>
            </span>
            <p class="tweet-text">{{tweet.text}}</p>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-content flex id="content">
    <map
      center="[46.30, -94.30]"
      zoom='7'
      disable-default-ui="true"
      draggable="true"
      street-view-control="false"
      map-type-control="false"
      styles="[
        {featureType: 'water', stylers: [{color: '#0e171d'}]},
        {featureType: 'landscape', stylers: [{color: '#1e303d'}]},
        {featureType: 'road', stylers: [{color: '#1e303d'}]},
        {featureType: 'poi', stylers: [{visibility: 'off'}]},
        {featureType: 'transit', stylers: [{color: '#182731'}, {visibility: 'simplified'}]},
        {featureType: 'poi', elementType: 'labels.icon', stylers: [{visibility: 'off'}]},
        {featureType: 'poi', elementType: 'labels.text.stroke', stylers: [{visibility: 'off'}]},
        {featureType: 'transit', elementType: 'labels.text.fill', stylers: [{visibility: 'off'}]},
        {featureType: 'road', elementType: 'labels.text.fill', stylers: [{color: '#94a5a6'}]},
        {featureType: 'administrative', elementType: 'labels', stylers: [{visibility: 'simplified'}, {color: '#e84c3c'}]},
        {featureType: 'administrative.country', elementType: 'labels', stylers: [{visibility: 'off'}]},
        {featureType: 'poi', stylers: [{color: '#e84c3c'}, {visibility: 'off'}]},
        {featureType: 'administrative', elementType: 'geometry.fill', stylers: [{visibility: 'off'}]},
        {featureType: 'road.local', elementType: 'geometry.fill', stylers: [{color: '#CCFF33'}, {lightness: 17}]}]">
    </map>
  </md-content>
</div>
<!-- Github ribbon -->
<a href="https://github.com/schnogz/minnesota-twitter-stream">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
       alt="Fork me on GitHub"
       data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>

