<div flex layout="row">
  <md-sidenav flex md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2">
    <md-list id="tweet-list">
      <md-subheader id="tweet-list-subheader" layout="row" layout-align="center center">
        <span>{{tweets.length}} tweets from Minnesota</span>
      </md-subheader>
      <md-list-item class="md-2-line" ng-repeat="tweet in tweets" ng-click="null">
        <img class="md-avatar" alt="{{tweet.user.name}}" ng-src="{{tweet.user.picUrl}}">
        <div class="md-list-item-text tweet-content" layout="column">
          <h4>
            <b>{{tweet.user.name}}</b>
            <span class="user-screen-name">&#64;{{tweet.user.screen_name}}</span>
          </h4>
          <p>{{tweet.text}}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-content flex id="content">
    <map
      center="[46.30, -94.30]"
      zoom='7'
      disable-default-ui="true"
      draggable="true"
      street-view-control="false"
      map-type-control="false"
      styles="[
        {featureType: 'water', stylers: [{color: '#0e171d'}]},
        {featureType: 'landscape', stylers: [{color: '#1e303d'}]},
        {featureType: 'road', stylers: [{color: '#1e303d'}]},
        {featureType: 'poi', stylers: [{visibility: 'off'}]},
        {featureType: 'transit', stylers: [{color: '#182731'}, {visibility: 'simplified'}]},
        {featureType: 'poi', elementType: 'labels.icon', stylers: [{visibility: 'off'}]},
        {featureType: 'poi', elementType: 'labels.text.stroke', stylers: [{visibility: 'off'}]},
        {featureType: 'transit', elementType: 'labels.text.fill', stylers: [{visibility: 'off'}]},
        {featureType: 'road', elementType: 'labels.text.fill', stylers: [{color: '#94a5a6'}]},
        {featureType: 'administrative', elementType: 'labels', stylers: [{visibility: 'simplified'}, {color: '#e84c3c'}]},
        {featureType: 'administrative.country', elementType: 'labels', stylers: [{visibility: 'off'}]},
        {featureType: 'poi', stylers: [{color: '#e84c3c'}, {visibility: 'off'}]},
        {featureType: 'administrative', elementType: 'geometry.fill', stylers: [{visibility: 'off'}]},
        {featureType: 'road.local', elementType: 'geometry.fill', stylers: [{color: '#CCFF33'}, {lightness: 17}]}]"
    ></map>
  </md-content>
</div>


